#productimageParent{
    transition: .5s ease all;
    z-index: 10;
}
#productCart{
    transition: .5s ease all;
    overflow: hidden;
}
#productCart:hover #productimageParent {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 80px;
    border-radius: 100%;
}
#productCart:hover::after{
    content: '';
    background: red;
    position: absolute;
    width: 200%;
    height: 200%;
    top: -5px;
    transform: rotate(45deg);
}
#productCart:hover #productContent{
    display: block;
}