#menuitem{

}
#menuitem .menus{
    position: relative;

}
#menuitem .menus::after{
    content: '';
    position: absolute;
    background: black;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: .4s ease all;
}
#menuitem .menus:hover::after{
    width: 100%;
}
#menuitem .active::after{
    width: 100%;
}